{% extends 'base.html' %}

{% block content %}
    <html>
        <head>
           <script>
                function call_counter(url) {
                    window.open(url);
                }
            </script>
        </head>
        <body>
            <button onclick="call_counter('http://127.0.0.1:8000/video_input/video_stream');">
                Video Streaming Only
            </button>
            <button onclick="call_counter('http://127.0.0.1:8000/video_input/video_save');">
                Video Stream And Save Locally
            </button>
        </body>
    </html>
{% endblock %}